
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    width:auto;
}
a {
    text-decoration: none;
} 
.background {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.slider-text {
    text-align: center;
    padding-top: 300px;
}
.slider-text .sli-title {
    font-size: 70px;
    color:#fffc9c;
    font-style:italic;
}
.slider-text .sli-content {
    font-size: 80px;
    font-style:italic;
    font-family: 'Allura';
    line-height: 20px;
    position: relative;
    color:#c4fb72;
    text-shadow: 2px 2px 5px #877a02;
}
.sli-btn {
    font-size: 3em;
    padding-top: 50px;
    
}
ul {
    list-style: none;
    margin-left: 0;
    padding-bottom: 0;
}
.header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.logo {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}
.navbars a {
    font-size: 1.05rem;
    color:#fff;
    font-weight: 500;
    margin-left: 20px;
}

.navbars svg {
    fill: #fff;
}
.icon {
    margin: 0 0 5px 7px;
}
.navbars a:hover {
    color: #c0a600;
}
.icons {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;    
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: #ffffff;
    min-width: 160px;
    border-radius: 15%;
    z-index: 1;
  }
  .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    .dropdown-content a:hover {
    background: rgba(0, 0, 0, .5);
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .menu {
        text-align: center;
        margin-top:3%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    .menu img {
        border-radius: 50%;
    }

    #traxanh h3 a, 
    #traden h3 a, 
    #traphonhi h3 a,
    #trathaomoc h3 a{
            color:#998500;   
    }

    #traxanh h3 a:hover, 
    #traden h3 a:hover, 
    #traphonhi h3 a:hover,
    #trathaomoc h3 a:hover{
            color:#c5d700be;   
    }

    
    /*** header ***/

    #header {
        position: relative;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        background-color: #152602;
    }
    .top-review {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(../img/background-taste.webp);
    }
    .from-to {
        display: flex;
        flex-direction: row;
        align-items:baseline;
        justify-content:center;
        
    }
    .from-to p a:first-child:hover {
        color: #c0a600;
    }
    .from-to a {
        margin-left: 10px;
        margin-right: 10px;
    }
    .color-dark {
        color:#101010
    }
    /**news page**/
    .flex-row {
        display: flex;
        flex-direction: row;
    }
    .flex-col {
        display: flex;
        flex-direction: column;
    }
    .row-fix .col-fix {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
    .item- {
        overflow: hidden;
        background: #fff;
        padding: 10px;
    }
    .info h3 {
        font-size:x-large;
    }
    .see {
        color: #877a02;
    }
    .item-blog .block-thumb .thumb {
        position: relative;
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        height: auto !important;
        padding-bottom: 65%;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .item-blog .block-thumb .thumb img {
        width: auto !important;
        max-height: 100%;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0; margin: auto;   
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .info a{
        color:#0b0b0b;
    }
    .info a:hover {
        color: #877a02;
    }
    .right-content {
        margin:20px 0 0 20px;
    }
    .right-content ul {
        margin: 10px 0 30px -30px;
    }
    .right-content ul li {
        margin-top: 20px;
    }
    .danh_muc {
        color:#0b0b0b
    }
    .danh_muc:hover {
        color:#877a02;  
    }
    .blog_new {
        border-radius: 5px;
        background: #fff;
    }
    .blog_new img {
        height: 100px;
        border-radius: 5%;
        margin-right: 20px;
    }
    .backtop.show {
        opacity: 1;
    }
    /**back to top**/
    .backtop.show {
        opacity: 1;
    }
    .backtop svg {
        width: 30px;
        height: 30px;
        color: #fff;
    }
    .backtop { 
        position: fixed; 
        bottom: 100px; top: auto !important; right: 20px; 
        background: #434343; 
        height: 40px; width: 40px; 
        text-align: center; 
        border-radius: 10px; 
        line-height: 40px; 
        z-index: 999; 
    }

   